:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: url('../public/images/stars.jpg') repeat-x;
  background-size: auto;
  animation: moveBackground 10s linear infinite;
}

@keyframes moveBackground {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.tie {
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
}

.shot1 {
  display: ruby;
  height: 20px;
  position: absolute;
}

.deathstar {
  position: fixed;
  height: 200px;
  right: 0;
  top: 100px;
  transform: translateY(-50%);
}

.laser {
  display: none;
  position: relative;
  width: 1500px;
}

@keyframes appearDisappear {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appearDisappear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#deathstar.active {
  animation: appearDisappear 5s forwards;
}

#stardestroyer.active {
  animation: appearDisappear 2s forwards;
}

#infobar {
  display: block;
  position: absolute;
  top: 0;
  height: 30px;
  width: 100%;
  background-color: rgb(34, 34, 34);
}

.life {
  display: inline;
  position: relative;
  height: 30px;
}

#score {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
}

#lives.active {
  animation: appearDisappear 1s forwards;
}

#xWing.active {
  animation: appearDisappear 1s forwards;
}

@keyframes flicker {
  0%   { opacity: 0.025; }
  25%  { opacity: 0.125; }
  50%  { opacity: 0.075; }
  75%  { opacity: 0.175; }
  100% { opacity: 0.05; }
}

.beam {
  animation: flicker 0.5s infinite alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeInAgain {
  from {
    opacity: 0;
    transform: scale(0) rotate(0deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(720deg);
  }
}

@keyframes collapse {
  from {
    opacity: 1;
    transform: scale(1) rotate(0deg) skew(0deg, 0deg);
  }
  to {
    opacity: 0.5;
    transform: scale(0) rotate(720deg) skew(30deg, 30deg);
  }
}

@keyframes collapse-ship {
  from {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  to {
    opacity: 0.5;
    transform: scale(0) rotate(1080deg);
  }
}

.opaque {
  opacity: 0.7;
}

.fade-in {
  animation: fadeIn 3s ease-in-out forwards;
}

.fade-in-again {
  animation: fadeInAgain 1s ease-in-out forwards;
}

.collapse {
  animation: collapse 0.8s ease-in-out forwards;
}

.collapse-ship {
  animation: collapse-ship 0.8s ease-in-out forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-element {
  animation: rotate 20s linear infinite;
}